<section>
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-11 titulo main-container">
        <h2 id="educacion"> Educación
          <div style="display:inline-block; font-size: 16px;">
            <!-- Button trigger modal Add-->
            <fa-icon [icon]="faPlus" (click)="onOpenModal('add')" type="button" 
            data-bs-toggle="modal" data-bs-target="#addEducationModal" data-original-title="add">
            </fa-icon>
            
            <!-- Modal Add-->
            <div class="modal fade" id="addEducationModal" role="dialog" tabindex="-1" aria-labelledby="addEducationModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header" style="background-color:black">
                    <h5 class="modal-title" style="color:red" id="addEducationModalLabel" >Agregar Educación</h5>
                  </div>
                  <div class="modal-body">

                    <!--Formulario Add-->
                    <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)" style="border:none">
                      <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
                      </div>
                      <div class="mb-3">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" ngModel name="titulo" class="form-control" id="titulo" placeholder="titulo" required>
                      </div>
                      <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" ngModel name="descripcion" class="form-control" id="descripcion" placeholder="descripcion" required>
                      </div>
                      <div class="mb-3">
                        <label for="fechaTermino" class="form-label">Fecha de finalización</label>
                        <input type="date" ngModel name="fechaTermino" class="form-control" id="fechaTermino" placeholder="aaaa/mm/dd" required>
                      </div>
                      <div class="mb-3">
                        <label for="foto" class="form-label">Foto</label>
                        <input type="text" ngModel name="foto" class="form-control" id="foto" placeholder="Url de la imagen" required>
                      </div>
                      <div class="modal-footer">
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" id="add-education-form" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </h2>
      </div>
      <ul>
        <li *ngFor=" let educacion of educacionList "> 
          <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
              <div class="col-11" style="padding-left: 80%">
                <div style="display:inline-block" id="main-container">
                  <!-- Button trigger modal Edit-->
                  <fa-icon [icon]="faPen" (click)="onOpenModal('edit', educacion)" 
                  style="font-size: 17px" type="button" data-bs-toggle="modal" data-bs-target="#editEducationModal" data-original-title="edit">
                  </fa-icon>
                  
                  <!-- Modal Edit-->
                  <div class="modal fade" id="editEducationModal" tabindex="-1" role="dialog" aria-labelledby="editEducationModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header" style="background-color:black">
                          <h5 clase="modal-title" id="editEducationModalLabel" style="color:red" >
                            Editar Educación "{{editEducacion?.nombre}}"
                          </h5>
                        </div>
                        <div class="modal-body">
        
                          <!--Formulario Edit-->
                          <form #editForm="ngForm" style="border:none">
                            <div class="mb-3">
                              <label for="nombre" class="form-label">Nombre</label>
                              <input type="text" ngModel="{{editEducacion?.nombre}}" name="nombre" class="form-control" id="nombre">
                            </div>
                            <input type="hidden" ngModel="{{editEducacion?.idEdu}}" name="idEdu" class="form-control" id="idEdu">
                            <div class="mb-3">
                              <label for="titulo" class="form-label">Título</label>
                              <input type="text" ngModel="{{editEducacion?.titulo}}" name="titulo" class="form-control" id="titulo">
                            </div>
                            <div class="mb-3">
                              <label for="descripcion" class="form-label">Descripción</label>
                              <input type="text" ngModel="{{editEducacion?.descripcion}}" name="descripcion" class="form-control" id="descripcion">
                            </div>
                            <div class="mb-3">
                              <label for="fechaTermino" class="form-label">Fecha de finalización</label>
                              <input type="date" ngModel="{{editEducacion?.fechaTermino}}" name="fechaTermino" class="form-control" id="fechaTermino">
                            </div>
                            <div class="mb-3">
                              <label for="foto" class="form-label">Foto</label>
                              <input type="text" ngModel="{{editEducacion?.foto}}" name="foto" class="form-control" id="foto">
                            </div>
                            <div class="modal-footer">
                              <button (click)="onUpdateEducation(editForm.value)" type="submit" class="btn btn-primary">Guardar</button>
                              <button type="button" id="edit-education-form" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Delete modal-->
                <div style="font-size: 16px; font-weight: 700" class="modal fade" id="deleteModalEducation" tabindex="-1" role="dialog" aria-labelledby="deleteModalEducationLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="background-color: black">
                        <h5 class="modal-title" id="deleteModalEducationLabel" style="font-weight:700; color: red">Borrar Educación</h5>
                      </div>
                      <div class="modal-body" style="color: rgb(39, 35, 35)">
                        <p>¿Estás seguro de que quieres borrar la educación
                          "{{deleteEducacion?.nombre}}"?
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          No
                        </button>
                        <button (click)="onDeleteEducation(deleteEducacion!.idEdu)" class="btn btn-danger" data-bs-dismiss="modal">
                          Si
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Button trigger modal Delete-->
                <fa-icon [icon]="faXmark" type="button" data-bs-toggle="modal" data-bs-target="#deleteModalEducation" (click)="onOpenModal('delete', educacion)" data-original-title="delete">  
                </fa-icon>
              </div>
              <div class="col-5 col-sm-4 col-md-3 col-lg-2 logo">
                <img [src]="educacion.foto" alt="logo" width="200" class="img-fluid">
              </div>
              <div class="col-8 col-sm-6 col-md-4 col-lg-4 certificacion">
                <span> {{educacion.titulo}} <br>
                  <strong>{{educacion.nombre}}</strong>
                  <br> fecha de finalización <strong>{{educacion.fechaTermino}}</strong>
                </span>
              </div>
              <div class="col-11 descripcion">
                <p> {{educacion.descripcion}}
                </p>
              </div>
            </div>
          </div>
          <br>
        </li>
      </ul>
    </div>
  </div>
</section>