<header id="back">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:4200/portfolio#">
          <img src="assets/imagenes/APLogo-20-20.png" alt="logo" width="80">
          <strong>#yo programo</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- menu de navegacion -->

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:4200/portfolio#sobreMi"> Sobre mí </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4200/portfolio#educacion" target="_self"> Educación </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4200/portfolio#habilidades"> Habilidades </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4200/portfolio#proyectos"> Proyectos </a>
            </li>
          </ul>
          <!-- opciones para contactarme -->

          <a class="navbar-brand contacto" href="https://wa.me/543885089552?text=¡Hola,%20me%20interesa%20tu%20trabajo!"
            target="_blank">
            <img src="assets/imagenes/5296520_bubble_chat_mobile_whatsapp_whatsapp logo_icon.png" alt="whatsapp"
              width="20">
          </a>
          <a class="navbar-brand contacto" href="https://instagram.com/cris_angel_g/" target="_blank">
            <img src="assets/imagenes/2609558_instagram_social media_social_icon.png" alt="instagram" width="20">
          </a>
          <a class="navbar-brand contacto"
            href="mailto:cris.life121@gmail.com?subject=¡Hola,%20me%20interesa%20tu%20trabajo!" target="_blank">
            <img src="assets/imagenes/132837_gmail_icon.png" alt="gmail" width="24">
          </a>
          <!-- Button trigger modal --> <!-- se hace uso del anchor para forzar el cierre de sesion -->
  
          <button type="button" class="btnRegistro" data-bs-toggle="modal" data-bs-target="">
            <a href="#salir" style="color: white; text-decoration: none;">
              <img class="user" src="assets/imagenes/person-circle.svg" alt="user" width="30">Salir
            </a>
          </button>
          <!-- Modal -->
  
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog tamaño">
              <div class="modal-content formback">

                <!-- formulario de login --> <!-- queda pendiente por falta de tiempo -->
                <form style="text-align: center;">
                  <div class="mb-5">
                    <h3 style="color: white;">Cerrar Sesión</h3>
                    <p style="margin-top: 30px;">¿Está seguro de que quiere cerrar la Sesión?</p>
                  </div>
                  <div>
                    <button type="button" class="btn btn-primary">
                      <a href="#"></a> Salir
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin-left: 15px;"> Cancelar </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <!-- empieza el carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide container-fluid" data-bs-ride="carousel">
      <div *ngIf="administrador" class="carousel-inner">
        <div class="carousel-item active velocidad" data-bs-interval="5000">
          <img [src]="administrador.fotoBannerA" class="d-block w-80 banner"
            alt="escritorio computadora">
        </div>
        <div class="carousel-item velocidad" data-bs-interval="5000">
          <img [src]="administrador.fotoBannerB" class="d-block w-80 banner"
            alt="escritorio computadora">
        </div>
        <div class="carousel-item velocidad" data-bs-interval="5000">
          <img [src]="administrador.fotoBannerC" class="d-block w-80 banner"
            alt="escritorio computadora">
        </div>
      </div>
    </div>
  </header>
