<section>
  <div class="container-fluid habilidades">
    <div class="row justify-content-center">
      <div class="col-11">
        <h2 id="habilidades"> Habilidades
          <fa-icon [icon]=" faPen "></fa-icon>
          <fa-icon [icon]=" faPlus "></fa-icon>
        </h2>
      </div>
      <div class="col-11 margen">
        <ul>
          <li *ngFor=" let habilidad of habilidades" class="skill">
            <img [src]="habilidad.img" [alt]="habilidad.nombre">
            <fa-icon [icon]=" faXmark "></fa-icon>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>