<section>
  <div class="container-fluid perfil">
    <div class="row justify-content-center">
      <div class="col-3 tarjeta">
        <div>
          <fa-icon [icon]="faPen" class="editPerfil"></fa-icon>
        </div>
        <img [src]="miPortfolio.tarjeta.img" alt="perfil"> <br>
        <p> {{miPortfolio.tarjeta.name}} <br> <strong> {{miPortfolio.tarjeta.role}} </strong> </p>
      </div>
      <div class="col-11">
        <h1 id="sobreMi"> Sobre mí
          <fa-icon [icon]="faPen"></fa-icon>
        </h1>
        <p> {{miPortfolio.sobreMi.descripcion}} </p>
      </div>
    </div>
  </div>
</section>