@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

body {
    background-color: rgb(29, 27, 27);
    color: rgb(231, 231, 231);
    font-size: 16px;
    font-family: 'Alegreya', serif;
    letter-spacing: 1px;
}

h1,
h2 {
    font-size: 3em;
    color: red;
    font-weight: 700;
    text-align: center
}

p {
    text-indent: 10px;
}

strong {
    font-size: 14px;
    color: red;
}

header {
    padding-bottom: 25px;
}

/*modificaciones en la barra de navegación*/
.navbar-brand strong {
    font-size: 12px;
    color: red;
}

.user {
    background-color: rgb(199, 32, 32);
    border-radius: 20px;
}

.user:hover {
    background-color: red;
}

.contacto img:hover {
    border-radius: 3px;
    margin: 0px;
    padding: 0px;
    background-color: red;
    box-shadow: 0 3px 10px 3px red;
    transition: .2s;
    transform: translateY(-5px) scale(1.3);
}

nav {
    border-bottom: 3px solid rgb(132, 11, 11);
    margin-bottom: 80px;
}

/*modificaciones en el registro*/
.send {
    margin-right: 5px;
}

.btnRegistro {
    margin-left: 40px;
    background-color: rgb(29, 27, 27);
    width: 33px;
    padding-left: 0px;
    border: none;
}

.formback {
    background-color: black;
    opacity: 0.9;
}

.tamaño {
    width: 266px;
    margin: auto;
    margin-top: 30px;
}

form {
    font-weight: 600;
    color: red;
    height: 300px;
    padding-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    border: 2px solid rgb(132, 11, 11);
    border-radius: 10px;
}

/*modificaciones en el carousel*/
.banner {
    padding: 20px;
    height: 500px;
    width: 500px;
    margin: auto;
    border: 2px solid rgb(132, 11, 11);
}

.velocidad {
    transition-duration: 1.5s;
}

/*modificaciones para un pagina responsive*/
@media only screen and (min-width: 1100px) {
    .editBaner {
        position: absolute;
        right: 230px;
        top: 120px;
        display: inline-block;
    }
}

@media only screen and (max-width: 575px) {
    .tarjeta {
        width: 40%;
    }
}

@media only screen and (max-width: 530px) {
    .banner {
        padding: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .banner {
        margin: 0px;
        border: none;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .banner {
        border: 2px solid rgb(132, 11, 11);
        margin: auto;
        margin-top: 10px;
        height: 450px;
        width: 96%;
    }

    .tarjeta {
        width: 50%;
    }
}

/*modificaciones en "sobre mi"*/
.editPerfil {
    margin-left: 80px;
}

.perfil h1 {
    margin-bottom: 50px;
}

.perfil img {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    object-fit: cover;
}

.tarjeta {
    border: 2px solid rgb(132, 11, 11);
    border-radius: 45%;
    text-align: center;
    background-color: black;
    padding-top: 5px;
    margin-bottom: 50px;
}

.tarjeta p {
    text-indent: 0px;
}

.perfil {
    margin: 100px 0;
}

/*modificaciones en "educacion"*/
.logo {
    border: 2px solid rgb(132, 11, 11);
    border-radius: 10px;
    padding: auto;
    margin-right: 10px;
}

.certificacion {
    font-size: 20px;
}

.titulo {
    margin-bottom: 50px;
}

.descripcion {
    margin-top: 50px;
}

/*modificaciones en "habilidades"*/
.habilidades {
    margin: 100px 0px;
}

.skill {
    display: inline-block;
    margin: 0px 25px;
    line-height: 7;
    text-align: center;
}

.margen {
    margin-top: 100px;
}

.skill img {
    width: 60px;
    height: 65px;
}

/*modificaciones en "proyectos"*/
.proyectos {
    margin-bottom: 100px;
}

.proyectos h2 {
    margin-bottom: 50px;
}

.proyectos img {
    border: 2px solid rgb(132, 11, 11);
    border-radius: 10px;
    opacity: 0.9;
}

/*footer*/
.back {
    position: fixed;
    bottom: 50px;
    right: 30px;
    height: 35px;
    width: 80px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 1px solid rgb(132, 11, 11);
    font-weight: 700;
}

.back a {
    text-decoration: none;
    color: white;
}

.back a:hover {
    color: red;
}

h6 {
    text-align: center;
    color: #ffffff8c;
}
/*estilo a los botones borrar, agregar, eliminar, check y editar*/
.borrar-check {
    box-sizing: border-box;
    align-self: flex-start;
    padding-left: 100px;
}
fa-icon {
   color: green;
   font-size: 20px;
   margin: 0px 5px;
}
fa-icon:hover {
   color: #1dc90e;
   cursor: pointer;
}